{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 2, { "MemberExpression": 1 }],
    "lines-between-class-members": "off",
    "new-cap": "off",
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "unicorn/no-array-for-each": "off"
  }
}
